<div class="edit-backdrop"></div>
<div class="edit-content">
  <button class="close">&times;</button>
  <h3>Update Information for <%= CURRENT_USER_USERNAME %></h3>
  <form role="form">
    <div class="form-group col-xs-3 col-xs-offset-3">
      <label for="city">City *</label>
      <input
        id="city"
        type="text"
        name="user[city]"
        class="form-control"
        value="<%= user.escape("city") %>">
    </div>

    <div class="form-group col-xs-3">
      <label for="state">State *</label>
        <select id="state" name="user[state]" class="form-control">
          <% STATES.forEach(function (state) { %>
            <option
              value="<%= state %>"
              <% var userstate = user.escape("state") %>
              <% if (state === userstate) { %>
                <%= "selected" %>
              <% } %>>
              <%= state %>
            </option>
          <% }); %>
        </select>
    </div>

    <div class="form-group col-xs-2 col-xs-offset-5">
      <label for="gender">Gender *</label>
        <select id="gender" name="user[gender]" class="form-control">
          <% ["M", "F"].forEach(function (gender) { %>
            <option
              value="<%= gender %>"
              <% var usergender = user.escape("gender") %>
              <% if (gender === usergender) { %>
                <%= "selected" %>
              <% } %>>
              <%= gender %>
            </option>
          <% }); %>
        </select>
    </div>

    <div class="form-group col-xs-4 col-xs-offset-2">
      <label for="animaltype">Type *</label>
        <select id="animaltype" name="user[animal_type]" class="form-control">
          <% ANIMAL_TYPES.forEach(function (animal) { %>
            <option
              value="<%= animal %>"
              <% var usertype = user.escape("animal_type") %>
              <% if (animal === usertype) { %>
                <%= "selected" %>
              <% } %>>
              <%= animal.charAt(0).toUpperCase() + animal.substring(1) %>
            </option>
          <% }); %>
        </select>
    </div>

    <div class="form-group col-xs-4">
      <label for="breed">Breed</label>
        <input
          id="breed"
          type="text"
          name="user[breed]"
          class="form-control"
          value="<%= user.escape("breed") %>">
    </div>

    <div class="form-group col-xs-6 col-xs-offset-3">
      <label for="website">Website</label>
        <input
          id="website"
          type="text"
          name="user[website]"
          class="form-control"
          value="<%= user.escape("website") %>">
    </div>

    <div class="form-group col-xs-6 col-xs-offset-3">
      <label for="instagram">Instagram Link</label>
        <input
          id="instagram"
          type="text"
          name="user[instagram]"
          class="form-control"
          value="<%= user.escape("instagram") %>">
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <input type="hidden" name="user[hobby_ids][]" value="">
        <label>Hobbies</label>
          <ul>
            <% var checked %>
            <% hobbies.forEach(function (hobby, i) { %>
              <% if (userHobbies.indexOf(hobby) !== -1) { %>
                <% checked = true; %>
              <% } else { %>
                <% checked = false; %>
              <% }%>

              <li>
                <input
                  id="hobby-<%= i + 1 %>"
                  type="checkbox"
                  name="user[hobby_ids][]"
                  value="<%= i + 1 %>"

                  <% if (checked) { %>
                    <%= 'checked="checked"' %>
                  <% } %>
                >
                <%= hobby %>
              </li>
            <% }); %>
          </ul>
    </div>

    <div class="form-group col-xs-6 col-xs-offset-3">
      <label for="about-me">About Me</label>
        <textarea
          id="about-me"
          type="text"
          name="user[about_me]"
          class="form-control"><%= user.escape("about_me") %></textarea>
    </div>

    <div class="form-group col-xs-6 col-xs-offset-3">
      <button class="btn btn-primary">Update!</button>
    </div>

    <div class="form-group col-xs-3 col-xs-offset-9">
      <p>* required fields</p>
    </div>
  </form>
</div>
