<% var current_loc = (user.escape("city") + ", " + user.escape("state")) %>

<h4>Current Location</h4>
<p><%= current_loc %></p>

<% attrs.forEach(function (attr) { %>
  <h4><%= attr[0] %></h4>

  <% if (attr[0] === "Animal Type") { %>
    <% var animal = user.escape(attr[1]) %>
    <p><%= animal.charAt(0).toUpperCase() + animal.substring(1) %></p>
  <% } else { %>
    <p><%= user.escape(attr[1]) %></p>
  <% } %>
<% }) %>

<h4>Hobbies
  <ul>
    <% user.hobbies().each(function (hobby) { %>
      <li><%= hobby.escape("name") %></li>
    <% }) %>
  </ul>
</h4>


<sidebar class="stats-sidebar">
  <h4>Score</h4>
  <% var rating = user.escape("rating") %>
  <% if (!rating) { rating = 0 } %>

  <p><%= rating %></p>
</sidebar>
