<% if (user.pictures().length > 0) { %>
  <% var picture = user.pictures().first().escape("thumb_url") %>
<% } %>

<% var ratingClass %>
<% var rating = parseInt(user.escape("rating")) %>
<% if (rating > 9) { %>
  <% ratingClass = "rating-sizzling" %>
<% } else if (rating > 7.5) { %>
  <% ratingClass = "rating-hot" %>
<% } else if (rating > 5) { %>
  <% ratingClass = "rating-warm" %>
<% } %>

<img class="cutie-item-img <%= ratingClass %>" src="<%= picture %>">

<p class="name">
  <strong><%= user.escape("username") %></strong>, <%= user.escape("gender") %>
</p>
<p class="<%= ratingClass %>"><%= user.escape("rating") %></p>
