<%= render "layouts/navbar" %>
<%= render "layouts/errors" %>

<body id="home">
  <h1>Pet Registration</h1>
  <h6>It's free.</h6>

  <form action="<%= users_url %>" method="POST" role="form" data-toggle="validator">
    <%= auth_token %>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="username">What's your pet's name? *</label>
        <input
          required
          id="username"
          type="text"
          name="user[username]"
          placeholder="e.g. boo"
          class="form-control"
          value="<%= @user.username %>">
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="password">New Password *</label>
      <input
        required
        id="password"
        type="password"
        name="user[password]"
        placeholder="Password"
        class="form-control"
        data-minlength="6">
      <span class="help-block with-errors">Minimum 6 characters</span>
    </div>

    <div class="form-group col-xs-2 col-xs-offset-4">
      <label for="city">City *</label>
      <input
        required
        id="city"
        type="text"
        name="user[city]"
        placeholder="San Francisco"
        class="form-control"
        value="<%= @user.city %>">
    </div>

    <div class="form-group col-xs-2">
      <label for="state">State *</label>
        <select id="state" name="user[state]" class="form-control" required>
          <% User::STATES.each do |state| %>
            <option
              value="<%= state %>"
              <% userstate = @user.state ||= "California" %>
              <%= "selected" if state == userstate %>><%= state %>
            </option>
          <% end %>
        </select>
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="birthdate">Birthday *</label>
        <input
          required
          id="birthdate"
          type="date"
          name="user[birthdate]"
          class="form-control"
          value="<%= @user.birthdate %>">
    </div>

    <div class="form-group col-xs-2 col-xs-offset-4">
      <label for="gender">Gender *</label>
        <select id="gender" name="user[gender]" class="form-control" required>
          <% ["", "M", "F"].each do |gender| %>
            <option
              value="<%= gender %>"
              <%= "selected" if @user.gender == gender %>>
              <%= gender %>
            </option>
          <% end %>
        </select>
    </div>

    <div class="form-group col-xs-2">
      <label for="animaltype">Type *</label>
        <select id="animaltype" name="user[animal_type]" class="form-control" required>
          <% [""].concat(User::ANIMAL_TYPES).each do |animaltype| %>
            <option
              value="<%= animaltype %>"
              <%= "selected" if animaltype == @user.animal_type %>>
              <%= animaltype.capitalize %>
            </option>
          <% end %>
        </select>
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="breed">Breed</label>
        <input
          id="breed"
          type="text"
          name="user[breed]"
          placeholder="e.g. Pomeranian"
          class="form-control"
          value="<%= @user.breed %>">
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="website">Website</label>
        <input
          id="website"
          type="text"
          name="user[website]"
          placeholder="e.g. www.boothedog.net"
          class="form-control"
          value="<%= @user.website %>">
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="instagram">Instagram Link</label>
        <input
          id="instagram"
          type="text"
          name="user[instagram]"
          placeholder="e.g. instagram.com/iamboo_officialfanpage"
          class="form-control"
          value="<%= @user.instagram %>">
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <input type="hidden" name="user[hobby_ids][]" value="">
        <label>Hobbies</label>
          <ul>
            <% @hobbies.each do |hobby| %>
              <% checked = @user.hobby_ids.include?(hobby.id) %>
              <label for="hobby-<%= hobby.id %>">
              <li>
                <input
                  id="hobby-<%= hobby.id %>"
                  type="checkbox"
                  name="user[hobby_ids][]"
                  value="<%= hobby.id %>"
                  <%= 'checked="checked"' if checked %>>
                <%= hobby.name %>
              </li>
            <% end %>
          </ul>
        </label>
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="about-me">Description</label>
        <textarea
          id="about-me"
          type="text"
          name="user[about_me]"
          placeholder="Tell us about your pet!"
          class="form-control"></textarea>
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
      <button type="submit" class="btn btn-primary">Register!</button>
    </div>

    <div class="form-group col-xs-3 col-xs-offset-9">
      <p>* required fields</p>
    </div>
  </form>
</body>
