<!DOCTYPE html>
<html>
<head>
  <title>Cute or Boot</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">
    window.CLOUDINARY_SETTINGS = {
      cloud_name: "<%= ENV['cloud_name'] %>",
      upload_preset: "<%= ENV['upload_preset'] %>",
      theme: "minimal",
      client_allowed_formats: ["png", "gif", "jpeg"],
      stylesheet: "https://dl.dropboxusercontent.com/u/63997007/minimal.css"
    }
  </script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript">
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/notifications" %>

  <%= yield %>

</body>
</html>
